body {
  padding-top: 90px;
  padding-bottom: 20px;
  color: #879d9e;
}


.jumbotron { color: #34868e; box-shadow: 0px 0px 4px #000000; }
.jumbotron h1 { color: #bcd2d4; }


.jumbotron  .btn{
    background-image: -webkit-linear-gradient(#18767e, #304453 60%, #1c1e22);
    background-image: -o-linear-gradient(#18767e, #304453 60%, #1c1e22);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#18767e), color-stop(60%, #304453), to(#1c1e22));
    background-image: linear-gradient(#18767e, #304453 60%, #1c1e22);
}

.jumbotron  .btn:hover{
    background-image: -webkit-linear-gradient(#1c1e22, #304453 60%, #18767e);
    background-image: -o-linear-gradient(#1c1e22, #304453 60%, #18767e);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1e22), color-stop(60%, #304453), to(#18767e));
    background-image: linear-gradient(#1c1e22, #304453 60%, #18767e);
}

nav.navbar-inverse {
    background-image: none;
    border-bottom: 1px solid rgb(28, 30, 34);
    background: #18747b;
    background: -webkit-linear-gradient(left top,rgba(255,0,0,0),rgba(0, 243, 255, 0.38));
    background: -o-linear-gradient(bottom right,rgba(255,0,0,0),rgba(0, 243, 255, 0.38));
    background: -moz-linear-gradient(bottom right,rgba(255,0,0,0),rgba(0, 243, 255, 0.38));
    background: linear-gradient(to bottom right, rgba(28, 30, 34, 0.75), rgba(25, 115, 124, 0.75));
}
nav .form-control { background-color: #3e444c; color:#7a7f82; }

.navbar-brand { font-size: 26px; }

nav .form-control::-webkit-input-placeholder {   color: #1c1e22;}
nav .form-control:-moz-placeholder { /* Firefox 18- */   color: #1c1e22;  }
nav .form-control::-moz-placeholder {  /* Firefox 19+ */   color: #1c1e22;  }
nav .form-control:-ms-input-placeholder {     color: #1c1e22;  }

nav .form-control:focus { border-color: #fff; }

p.navbar-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-success {
    background-image: -webkit-linear-gradient(#567482, #415158 60%, #1c1e22);
    background-image: -o-linear-gradient(#567482, #415158 60%, #1c1e22);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#567482), color-stop(60%, #415158), to(#1c1e22));
    background-image: linear-gradient(#567482, #415158 60%, #1c1e22);
}

.btn, .btn:hover {
    border-color: rgb(11, 12, 14);
	transition: background-image 0.5s ease;
}

.btn-success:hover {
    background-image: -webkit-linear-gradient(#1c1e22, #415158 60%, #567482);
    background-image: -o-linear-gradient(#1c1e22, #415158 60%, #567482);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1e22), color-stop(60%, #415158), to(#567482));
    background-image: linear-gradient(#1c1e22, #415158 60%, #567482);
}

.jumbotron .btn, .btn:hover {
    border-color: rgb(6, 6, 6);
}

a {
	color: #bcd2d4;
	transition: color 0.5s ease;
}

a:hover, a:focus {
    color: #478686;
    text-decoration: none;
}

.btn-default:hover {
    background-image: linear-gradient(#313539, #3a3f44 60%, #484e55);
    color: #197079;
}
.btn-default {
    color: #bcd2d4;
}

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label, .has-success .form-control-feedback {
	color: #101213;
}


.alert-success { background-color: #549854; border-color: #477747; color: #ffffff; }
.alert-danger { background-color: #a5403d; border-color: #382221; color: #ffffff; }
.alert-warning { background-color: #ce984c; border-color: #98623c; color: #ffffff; }