.Calandria, .Deliambre { color: #c1c738; }
.Jaufret { color: #e3eb8a; }
.Capitani { color: #8abffc; }
.Orsini { color: #4e6265; }

.Desmira { color: #a29085; }

.Estersea, .Ibarra { color: #f1f155; }
.Fontaine { color: #cc66cc; }
.Saavedra { color: #fcb160; }
.Sforza { color: #4e6265; }
.Naia { color: #4e6265; }

.Faucheux, .Deveraux { color: #673bc4; }
.Deschenes { color: #8fc095; }
.Delamara { color: #38a790; }
.Beaumont { color: #aab7b8; }

.Nacimiento, .Sandoval { color: #8a91e4; }
.Blackthorne { color: #22640d; }


.Rohari, .alKhalid { color: #eb792d; }
.alJasham { color: #4e6265; }
.alFaris { color: #4e6265; }

.Seravino, .Montefiore { color: #e2240b; }
.Savarese { color: #f7d358; }
.Tesoro { color: #5f9ea0; }

.Shelbourne, .Gardiner { color: #39c433; }
.Cameron { color: #df9962; }
.Sinclair { color: #5fb404; }

.Vasile, .Price { color: #d6b357; }
.Vann { color: #66ccff; }
.Reinhart { color: #2b84af; }
.Romanov { color: #4e6265; }

.Vulcanis, .Cadag { color: #b783e7; }
.Connell { color: #fbfbb9; }
.Cruach { color: #df5738; }
.Vaughn { color: #0440aa; }

.Support1 { color: #8556da; } /* Royal Household */
.Support2 { color: #1f662d; } /* Royal Army */
.Support3 { color: #40684d; } /* Verdant Shield */

.Outside1 { color: #df3557; } /* Montenoire */
.Outside2 { color: #0b6138; } /* Lindblum */
.Outside3 { color: #539ac3; } /* Northrop */

.bs { font-weight: bold; text-shadow: 1px 1px 0px #252525; }


.mark-attention { color: #ca7676; text-transform: italic; font-weight: bold; }

.span-note { font-size: 9px; }